@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejam Bem Vindos</h1>
    <p>Clique para aprender a <a href="https://docs.microsoft.com/aspnet/core">Construir apps com nosso amigo ASP.NET Core</a>.</p>
</div>
